<h2>Input @ViewBag.Info</h2>
<input type="submit" name="name" width="200" value="@ViewBag.Info" />
@*<a asp-controller="Home" asp-action="index" asp->跳转</a>*@
@Html.ActionLink("测试","index","Home", new { str = "actionlink" })